# Configure dummy0 interface used by goldvip's containers

auto dummy0
iface dummy0 inet static
    pre-up modprobe dummy
    address 10.255.255.254
    netmask 255.255.255.0
    gateway 10.255.255.1
    metric 1023
