# Configure interfaces used by OTAmatic Client and the
# Update Agents to comunicate when hypervisor is not employed.

auto dummy1
iface dummy1 inet static
    pre-up modprobe dummy
    pre-up ip link add dummy1 type dummy
    address 10.0.100.10
    netmask 255.255.255.0
    gateway 10.255.255.1
    metric 1023

auto dummy2
iface dummy2 inet static
    pre-up modprobe dummy
    pre-up ip link add dummy2 type dummy
    address 10.0.100.20
    netmask 255.255.255.0
    gateway 10.255.255.1
    metric 1023
