# Configure pfe interfaces used by linux domain to forward the Ethernet traffic.

auto pfe0sl
iface pfe0sl inet manual
    pre-up [ -L /sys/class/net/pfe0sl ]
    dhcpcd_opts -LGb
    up /sbin/ifconfig pfe0sl up

auto pfe1sl
iface pfe1sl inet manual
    pre-up [ -L /sys/class/net/pfe1sl ]
    dhcpcd_opts -LGb
    up /sbin/ifconfig pfe1sl up

auto pfe2sl
iface pfe2sl inet manual
    pre-up [ -L /sys/class/net/pfe2sl ]
    dhcpcd_opts -LGb
    up /sbin/ifconfig pfe2sl up

auto aux0sl
iface aux0sl inet manual
    pre-up [ -L /sys/class/net/aux0sl ]
    dhcpcd_opts -LGb
    up /sbin/ifconfig aux0sl up
