# Configure the network bridge used for the communication between VMs.

auto v2xbr
iface v2xbr inet static
    pre-up brctl addbr v2xbr
    post-down brctl delbr v2xbr
    address 10.0.100.10
    netmask 255.255.255.0
